.formBody {
  margin: 1rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formBody select,
input {
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  padding: 0.3rem;
  background: #f2f2f2;
  text-align: center;
}

.motorForm,
.parameterForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.motorForm input,
.parameterForm input {
  width: 5ch;
}

.parameterForm {
  justify-content: space-between;
}
