[submodule "third_party/st/lis3mdl-pid"]
	path = third_party/st/lis3mdl-pid
	url = https://github.com/STMicroelectronics/lis3mdl-pid.git
[submodule "third_party/st/lsm6dsox-pid"]
	path = third_party/st/lsm6dsox-pid
	url = https://github.com/STMicroelectronics/lsm6dsox-pid.git
[submodule "third_party/st/fusion"]
	path = third_party/st/fusion
	url = https://github.com/xioTechnologies/Fusion.git
